<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="*origin parent:=base_link">
    <xacro:arg name="gpu" default="false"/>
    <xacro:arg name="config_dir" default="$(find robobus_sensor_kit_description)/config"/>

    <xacro:property name="sensor_kit_base_link" default="sensor_kit_base_link"/>

    <joint name="${sensor_kit_base_link}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${sensor_kit_base_link}"/>
    </joint>

    <link name="${sensor_kit_base_link}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>

    <!-- sensor -->
    <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>
    
    <link name="traffic_light_left_camera" />
    <link name="zed" />
    <link name="gnss" />
    <link name="os_sensor_top" />
    <link name="os_sensor_ancillary" />
    <link name="os_sensor_fl" />
    <link name="os_sensor_fr" />
    <link name="os_sensor_rl" />
    <link name="os_sensor_rr" />
    <link name="front_radar" />
    <link name="rear_radar" />

    <!-- lidar -->
    <joint name="os_sensor_top_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="os_sensor_top" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['os_sensor_top']['x']} 
             ${calibration['sensor_kit_base_link']['os_sensor_top']['y']} 
             ${calibration['sensor_kit_base_link']['os_sensor_top']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['os_sensor_top']['roll']} 
             ${calibration['sensor_kit_base_link']['os_sensor_top']['pitch']} 
             ${calibration['sensor_kit_base_link']['os_sensor_top']['yaw']}" />
    </joint>

    <joint name="os_sensor_ancillary_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="os_sensor_ancillary" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['os_sensor_ancillary']['x']} 
             ${calibration['sensor_kit_base_link']['os_sensor_ancillary']['y']} 
             ${calibration['sensor_kit_base_link']['os_sensor_ancillary']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['os_sensor_ancillary']['roll']} 
             ${calibration['sensor_kit_base_link']['os_sensor_ancillary']['pitch']} 
             ${calibration['sensor_kit_base_link']['os_sensor_ancillary']['yaw']}" />
    </joint>
    
    <joint name="os_sensor_fl_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="os_sensor_fl" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['os_sensor_fl']['x']} 
             ${calibration['sensor_kit_base_link']['os_sensor_fl']['y']} 
             ${calibration['sensor_kit_base_link']['os_sensor_fl']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['os_sensor_fl']['roll']} 
             ${calibration['sensor_kit_base_link']['os_sensor_fl']['pitch']} 
             ${calibration['sensor_kit_base_link']['os_sensor_fl']['yaw']}" />
    </joint>

    <joint name="os_sensor_fr_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="os_sensor_fr" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['os_sensor_fr']['x']} 
             ${calibration['sensor_kit_base_link']['os_sensor_fr']['y']} 
             ${calibration['sensor_kit_base_link']['os_sensor_fr']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['os_sensor_fr']['roll']} 
             ${calibration['sensor_kit_base_link']['os_sensor_fr']['pitch']} 
             ${calibration['sensor_kit_base_link']['os_sensor_fr']['yaw']}" />
    </joint>

    <joint name="os_sensor_rl_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="os_sensor_rl" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['os_sensor_rl']['x']} 
             ${calibration['sensor_kit_base_link']['os_sensor_rl']['y']} 
             ${calibration['sensor_kit_base_link']['os_sensor_rl']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['os_sensor_rl']['roll']} 
             ${calibration['sensor_kit_base_link']['os_sensor_rl']['pitch']} 
             ${calibration['sensor_kit_base_link']['os_sensor_rl']['yaw']}" />
    </joint>

    <joint name="os_sensor_rr_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="os_sensor_rr" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['os_sensor_rr']['x']} 
             ${calibration['sensor_kit_base_link']['os_sensor_rr']['y']} 
             ${calibration['sensor_kit_base_link']['os_sensor_rr']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['os_sensor_rr']['roll']} 
             ${calibration['sensor_kit_base_link']['os_sensor_rr']['pitch']} 
             ${calibration['sensor_kit_base_link']['os_sensor_rr']['yaw']}" />
    </joint>

    <!-- camera -->
    <joint name="traffic_light_left_camera_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="traffic_light_left_camera" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['traffic_light_left_camera']['x']} 
             ${calibration['sensor_kit_base_link']['traffic_light_left_camera']['y']} 
             ${calibration['sensor_kit_base_link']['traffic_light_left_camera']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['traffic_light_left_camera']['roll']} 
             ${calibration['sensor_kit_base_link']['traffic_light_left_camera']['pitch']} 
             ${calibration['sensor_kit_base_link']['traffic_light_left_camera']['yaw']}" />
    </joint>

    <joint name="zed_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="zed" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['zed']['x']} 
             ${calibration['sensor_kit_base_link']['zed']['y']} 
             ${calibration['sensor_kit_base_link']['zed']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['zed']['roll']} 
             ${calibration['sensor_kit_base_link']['zed']['pitch']} 
             ${calibration['sensor_kit_base_link']['zed']['yaw']}" />
    </joint>

    <!-- gnss -->
    <joint name="gnss_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="gnss" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['gnss']['x']} 
             ${calibration['sensor_kit_base_link']['gnss']['y']} 
             ${calibration['sensor_kit_base_link']['gnss']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['gnss']['roll']} 
             ${calibration['sensor_kit_base_link']['gnss']['pitch']} 
             ${calibration['sensor_kit_base_link']['gnss']['yaw']}" />
    </joint>

    <!-- imu -->

    <!-- millimeter wave radar -->
    <joint name="front_radar_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="front_radar" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['front_radar']['x']} 
             ${calibration['sensor_kit_base_link']['front_radar']['y']} 
             ${calibration['sensor_kit_base_link']['front_radar']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['front_radar']['roll']} 
             ${calibration['sensor_kit_base_link']['front_radar']['pitch']} 
             ${calibration['sensor_kit_base_link']['front_radar']['yaw']}" />
    </joint>

    <joint name="rear_radar_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="rear_radar" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['rear_radar']['x']} 
             ${calibration['sensor_kit_base_link']['rear_radar']['y']} 
             ${calibration['sensor_kit_base_link']['rear_radar']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['rear_radar']['roll']} 
             ${calibration['sensor_kit_base_link']['rear_radar']['pitch']} 
             ${calibration['sensor_kit_base_link']['rear_radar']['yaw']}" />
    </joint>

  </xacro:macro>

  <!-- ultrasonic radar -->
  <link name="ultrasonic_0" />
  <link name="ultrasonic_1" />
  <link name="ultrasonic_2" />
  <link name="ultrasonic_3" />
  <link name="ultrasonic_4" />
  <link name="ultrasonic_5" />
  <link name="ultrasonic_6" />
  <link name="ultrasonic_7" />

  <xacro:macro name="ultrasonic_0" params="*ultrasonic_origin parent=sensor_kit_base_link" >
    <joint name="ultrasonic_0_joint" type="fixed">
      <xacro:insert_block name="ultrasonic_origin"/>
      <parent link="${parent}"/>
      <child link="ultrasonic_0"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="ultrasonic_1" params="*ultrasonic_origin parent=sensor_kit_base_link" >
    <joint name="ultrasonic_1_joint" type="fixed">
      <xacro:insert_block name="ultrasonic_origin"/>
      <parent link="${parent}"/>
      <child link="ultrasonic_1"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="ultrasonic_2" params="*ultrasonic_origin parent=sensor_kit_base_link" >
    <joint name="ultrasonic_2_joint" type="fixed">
      <xacro:insert_block name="ultrasonic_origin"/>
      <parent link="${parent}"/>
      <child link="ultrasonic_2"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="ultrasonic_3" params="*ultrasonic_origin parent=sensor_kit_base_link" >
    <joint name="ultrasonic_3_joint" type="fixed">
      <xacro:insert_block name="ultrasonic_origin"/>
      <parent link="${parent}"/>
      <child link="ultrasonic_3"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="ultrasonic_4" params="*ultrasonic_origin parent=sensor_kit_base_link" >
    <joint name="ultrasonic_4_joint" type="fixed">
      <xacro:insert_block name="ultrasonic_origin"/>
      <parent link="${parent}"/>
      <child link="ultrasonic_4"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="ultrasonic_5" params="*ultrasonic_origin parent=sensor_kit_base_link" >
    <joint name="ultrasonic_5_joint" type="fixed">
      <xacro:insert_block name="ultrasonic_origin"/>
      <parent link="${parent}"/>
      <child link="ultrasonic_5"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="ultrasonic_6" params="*ultrasonic_origin parent=sensor_kit_base_link" >
    <joint name="ultrasonic_6_joint" type="fixed">
      <xacro:insert_block name="ultrasonic_origin"/>
      <parent link="${parent}"/>
      <child link="ultrasonic_6"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="ultrasonic_7" params="*ultrasonic_origin parent=sensor_kit_base_link" >
    <joint name="ultrasonic_7_joint" type="fixed">
      <xacro:insert_block name="ultrasonic_origin"/>
      <parent link="${parent}"/>
      <child link="ultrasonic_7"/>
    </joint>
  </xacro:macro>
</robot>
