<?xml version="1.0"?>
<robot name="vehicle" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="config_dir" default="$(find robobus_sensor_kit_description)/config"/>
  <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensors_calibration.yaml')}"/>
  <xacro:include filename="sensors_secondary.xacro"/>

  <!-- sensor kit link -->
  <link name="camera_top" />
  <link name="camera_front" />
  <link name="os_lidar_ancillary" />
  <link name="os_lidar_fl" />
  <link name="os_lidar_fr" />
  <link name="os_lidar_rl" />
  <link name="os_lidar_rr" />
  <link name="gnss" />

  <!-- sensor kit joint -->
  <joint name="os_lidar_ancillary_joint" type="fixed">
    <parent link="sensor_top" />
    <child link="os_lidar_ancillary" />
    <origin 
      xyz="${calibration['sensor_top']['os_lidar_ancillary']['x']} 
            ${calibration['sensor_top']['os_lidar_ancillary']['y']} 
            ${calibration['sensor_top']['os_lidar_ancillary']['z']}" 
      rpy="${calibration['sensor_top']['os_lidar_ancillary']['roll']} 
            ${calibration['sensor_top']['os_lidar_ancillary']['pitch']} 
            ${calibration['sensor_top']['os_lidar_ancillary']['yaw']}" />
  </joint>
  <!-- camera -->
  <joint name="camera_front_joint" type="fixed">
    <parent link="os_lidar_ancillary" />
    <child link="camera_front" />
    <origin 
      xyz="${calibration['os_lidar_ancillary']['camera_front']['x']} 
            ${calibration['os_lidar_ancillary']['camera_front']['y']} 
            ${calibration['os_lidar_ancillary']['camera_front']['z']}" 
      rpy="${calibration['os_lidar_ancillary']['camera_front']['roll']} 
            ${calibration['os_lidar_ancillary']['camera_front']['pitch']} 
            ${calibration['os_lidar_ancillary']['camera_front']['yaw']}" />
  </joint>

  <joint name="camera_top_joint" type="fixed">
    <parent link="os_lidar_ancillary" />
    <child link="camera_top" />
    <origin 
      xyz="${calibration['os_lidar_ancillary']['camera_top']['x']} 
            ${calibration['os_lidar_ancillary']['camera_top']['y']} 
            ${calibration['os_lidar_ancillary']['camera_top']['z']}" 
      rpy="${calibration['os_lidar_ancillary']['camera_top']['roll']} 
            ${calibration['os_lidar_ancillary']['camera_top']['pitch']} 
            ${calibration['os_lidar_ancillary']['camera_top']['yaw']}" />
  </joint>

  <!-- lidar  -->
  <joint name="os_lidar_fl_joint" type="fixed">
    <parent link="sensor_top" />
    <child link="os_lidar_fl" />
    <origin 
      xyz="${calibration['sensor_top']['os_lidar_fl']['x']} 
            ${calibration['sensor_top']['os_lidar_fl']['y']} 
            ${calibration['sensor_top']['os_lidar_fl']['z']}" 
      rpy="${calibration['sensor_top']['os_lidar_fl']['roll']} 
            ${calibration['sensor_top']['os_lidar_fl']['pitch']} 
            ${calibration['sensor_top']['os_lidar_fl']['yaw']}" />
  </joint>

  <joint name="os_lidar_fr_joint" type="fixed">
    <parent link="sensor_top" />
    <child link="os_lidar_fr" />
    <origin 
      xyz="${calibration['sensor_top']['os_lidar_fr']['x']} 
            ${calibration['sensor_top']['os_lidar_fr']['y']} 
            ${calibration['sensor_top']['os_lidar_fr']['z']}" 
      rpy="${calibration['sensor_top']['os_lidar_fr']['roll']} 
            ${calibration['sensor_top']['os_lidar_fr']['pitch']} 
            ${calibration['sensor_top']['os_lidar_fr']['yaw']}" />
  </joint>

   <joint name="os_lidar_rl_joint" type="fixed">
    <parent link="sensor_top" />
    <child link="os_lidar_rl" />
    <origin 
      xyz="${calibration['sensor_top']['os_lidar_rl']['x']} 
            ${calibration['sensor_top']['os_lidar_rl']['y']} 
            ${calibration['sensor_top']['os_lidar_rl']['z']}" 
      rpy="${calibration['sensor_top']['os_lidar_rl']['roll']} 
            ${calibration['sensor_top']['os_lidar_rl']['pitch']} 
            ${calibration['sensor_top']['os_lidar_rl']['yaw']}" />
  </joint>

   <joint name="os_lidar_rr_joint" type="fixed">
    <parent link="sensor_top" />
    <child link="os_lidar_rr" />
    <origin 
      xyz="${calibration['sensor_top']['os_lidar_rr']['x']} 
            ${calibration['sensor_top']['os_lidar_rr']['y']} 
            ${calibration['sensor_top']['os_lidar_rr']['z']}" 
      rpy="${calibration['sensor_top']['os_lidar_rr']['roll']} 
            ${calibration['sensor_top']['os_lidar_rr']['pitch']} 
            ${calibration['sensor_top']['os_lidar_rr']['yaw']}" />
  </joint>

<!-- combined navigation -->
  <joint name="gnss_joint" type="fixed">
    <parent link="sensor_top" />
    <child link="gnss" />
    <origin 
      xyz="${calibration['sensor_top']['gnss']['x']} 
            ${calibration['sensor_top']['gnss']['y']} 
            ${calibration['sensor_top']['gnss']['z']}" 
      rpy="${calibration['sensor_top']['gnss']['roll']} 
            ${calibration['sensor_top']['gnss']['pitch']} 
            ${calibration['sensor_top']['gnss']['yaw']}" />
  </joint>

</robot>
