<?xml version="1.0"?>
<robot name="vehicle" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="config_dir" default="$(find robobus_sensor_kit_description)/config"/>
  <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensors_calibration.yaml')}"/>
  <xacro:include filename="sensors_secondary.xacro"/>

  <!-- sensor kit link -->
  <link name="traffic_light_left_camera" />
  <link name="camera1" />
  <link name="os_lidar_fl" />
  <link name="os_lidar_fr" />
  <link name="os_lidar_rl" />
  <link name="os_lidar_rr" />
  <link name="gnss" />

  <!-- sensor kit joint -->
  <!-- camera -->
  <joint name="camera1_joint" type="fixed">
    <parent link="rs16" />
    <child link="camera1" />
    <origin 
      xyz="${calibration['rs16']['camera1']['x']} 
            ${calibration['rs16']['camera1']['y']} 
            ${calibration['rs16']['camera1']['z']}" 
      rpy="${calibration['rs16']['camera1']['roll']} 
            ${calibration['rs16']['camera1']['pitch']} 
            ${calibration['rs16']['camera1']['yaw']}" />
  </joint>

  <joint name="traffic_light_left_camera_joint" type="fixed">
    <parent link="rs16" />
    <child link="traffic_light_left_camera" />
    <origin 
      xyz="${calibration['rs16']['traffic_light_left_camera']['x']} 
            ${calibration['rs16']['traffic_light_left_camera']['y']} 
            ${calibration['rs16']['traffic_light_left_camera']['z']}" 
      rpy="${calibration['rs16']['traffic_light_left_camera']['roll']} 
            ${calibration['rs16']['traffic_light_left_camera']['pitch']} 
            ${calibration['rs16']['traffic_light_left_camera']['yaw']}" />
  </joint>

  <!-- lidar  -->
  <joint name="os_lidar_fl_joint" type="fixed">
    <parent link="rs16" />
    <child link="os_lidar_fl" />
    <origin 
      xyz="${calibration['rs16']['os_lidar_fl']['x']} 
            ${calibration['rs16']['os_lidar_fl']['y']} 
            ${calibration['rs16']['os_lidar_fl']['z']}" 
      rpy="${calibration['rs16']['os_lidar_fl']['roll']} 
            ${calibration['rs16']['os_lidar_fl']['pitch']} 
            ${calibration['rs16']['os_lidar_fl']['yaw']}" />
  </joint>

  <joint name="os_lidar_fr_joint" type="fixed">
    <parent link="rs16" />
    <child link="os_lidar_fr" />
    <origin 
      xyz="${calibration['rs16']['os_lidar_fr']['x']} 
            ${calibration['rs16']['os_lidar_fr']['y']} 
            ${calibration['rs16']['os_lidar_fr']['z']}" 
      rpy="${calibration['rs16']['os_lidar_fr']['roll']} 
            ${calibration['rs16']['os_lidar_fr']['pitch']} 
            ${calibration['rs16']['os_lidar_fr']['yaw']}" />
  </joint>

   <joint name="os_lidar_rl_joint" type="fixed">
    <parent link="rs16" />
    <child link="os_lidar_rl" />
    <origin 
      xyz="${calibration['rs16']['os_lidar_rl']['x']} 
            ${calibration['rs16']['os_lidar_rl']['y']} 
            ${calibration['rs16']['os_lidar_rl']['z']}" 
      rpy="${calibration['rs16']['os_lidar_rl']['roll']} 
            ${calibration['rs16']['os_lidar_rl']['pitch']} 
            ${calibration['rs16']['os_lidar_rl']['yaw']}" />
  </joint>

   <joint name="os_lidar_rr_joint" type="fixed">
    <parent link="rs16" />
    <child link="os_lidar_rr" />
    <origin 
      xyz="${calibration['rs16']['os_lidar_rr']['x']} 
            ${calibration['rs16']['os_lidar_rr']['y']} 
            ${calibration['rs16']['os_lidar_rr']['z']}" 
      rpy="${calibration['rs16']['os_lidar_rr']['roll']} 
            ${calibration['rs16']['os_lidar_rr']['pitch']} 
            ${calibration['rs16']['os_lidar_rr']['yaw']}" />
  </joint>

<!-- combined navigation -->
  <joint name="gnss_joint" type="fixed">
    <parent link="rs16" />
    <child link="gnss" />
    <origin 
      xyz="${calibration['rs16']['gnss']['x']} 
            ${calibration['rs16']['gnss']['y']} 
            ${calibration['rs16']['gnss']['z']}" 
      rpy="${calibration['rs16']['gnss']['roll']} 
            ${calibration['rs16']['gnss']['pitch']} 
            ${calibration['rs16']['gnss']['yaw']}" />
  </joint>

</robot>
